<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
	<title>Lunch Checker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/general.css">
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="title
						col-md-12">
				<h1>Lunch Check</h1>
			</div>

			<div ng-controller="LunchCheckController">
				<div class="textbox
							col-md-12">
					<input ng-model="check" type="textbox">
				</div>

				<div class="button
							col-md-12">
					<button ng-click="myClick()">Check If Too Much</button>
				</div>

				<div class="{{message}}
							col-md-12">
					<p>{{erro}}</p>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>